body {
    font-family: "Libre Baskerville", serif;
    background: center no-repeat url(images/background.jpg);
}

header {
    text-align: center;
    padding: 40px 0 15px;
}

h1 {
    color: white;
    font-weight: bold;
    text-shadow: -2px -2px 0 #3f250b, 2px -2px 0 #3f250b, -2px 2px 0 #3f250b, 2px 2px 0 #3f250b;
}

h2 {
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.bio {
    padding-top: 10px;
    margin-right: 10px;
}

.buttons {
    margin-left: 10px;
}

.bio, .buttons {
    background-color: #d2b48c;
}

#elijah {
    max-height: 200px;
    padding-right: 10px;
}

.button {
    max-height: 175px;
    width: max-content;
    filter: brightness(50%);
    margin-top: 10px;
    position: relative;
}

.contact {
    margin-bottom: 10px;
}

.info {
    font-size: 1.15em;
}

.emoji {
    display: inline-block;
    padding: 0 15px;
}

@media only screen and (max-width: 767px) {
    .emoji {
        display: block;
    }
}

@media only screen and (max-width: 991px) {
    .bio, .buttons {
        margin: 0;
    }

    .buttons {
        margin-bottom: 15px;
    }
}